/* font-family: 'Montserrat', sans-serif; */
.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-brand {
    font-weight: bold !important;
    margin-right: 30px;
}

.nav-link {
    color: black !important;
    margin-right: 10px;
}

.nav-link:hover {
    color: gray !important;
}

.fass {
    font-family: 'Nunito', sans-serif !important;
}

#about {
    margin-top: 2%;
}

.about_head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.about_subhead {
    font-size: 0.5em;
    font-family: 'Montserrat', sans-serif;
}


.main-section {
    background: url("../images/back.png") center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}

.text-box {
    margin-top: 8%;
}

.main-heading {
    font-size: 5em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px black;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 1px 0.5px black;
}

.circle-icon {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    padding: 17px 12px;
    margin-right: 15px;
    margin-top: 20px;
}

.circle-icon1 {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    padding: 17px 12px;    
    margin-top: 20px;
}

a>.circle-icon,
a>.circle-icon1 {
    color: black !important;
}

a>.circle-icon:hover,
a>.circle-icon1:hover {
    background: black;
    color: white !important;
}

.form-inline .form-control {
    height: 25px;
}

.btn-outline-success {
    background: black;
    border: 1px solid black;
    color: white;
    height: 25px !important;
    padding: 0px 0.3rem !important;
}

.btn-outline-success:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

footer {
    width: 100%;
    background: white;
    margin-top: 30px;
    padding: 25px;
}

.blog {
    background: white;
    font-family: 'Montserrat', sans-serif;
    padding: 5% 0px;
}

.post-pic {
    max-height: 150px !important;
    width: 100%;
}


